.title-text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 56px;
  color: #101D2D;
}

.description-text {
  font-weight: 400;
  font-size: 1em;
  line-height: 16px;
  color: #6F727A;
}

.link-text {
  font-weight: 500;
  font-size: .8em;
  line-height: 20px;
  color: #4C54F4;
}

.field-text {
  font-weight: 500;
  font-size: .8em;
  line-height: 14px;
  color: #101D2D;
}